.App {
    background-color: #0c240e;
    box-sizing: border-box;
    color: #00b30f;
    font-family: 'VT323', sans-serif;
    text-align: center;
    height: 100vh;
}

.App-header {
    background-color: #282c34;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

}

.App a,
.App-link {
    border-bottom: 4px dotted #00b30f;
    color: #00b30f;
    padding-bottom: 1px;
    text-decoration: none;
}

.App a:hover,
.App-link:hover {
    background-color: #00b30f;
    border-bottom: 4px dotted #0c240e;
    color: #0c240e;
}

.App h1,
.App h2,
.App h3,
.App h4,
.App h5 {
    font-family: 'Silkscreen', 'VT323', sans-serif;
}

.App button {
    background-color: #0c240e;
    border: 1px solid #00b30f;
    color: #00b30f;
    cursor: pointer;
    font-family: 'VT323', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: .5rem 1rem;
    vertical-align: middle;
}

.App button span {
    margin-top: -1px;
    vertical-align: middle;
}